{% extends 'base.html.twig' %}

{% block title %}LevelManager index{% endblock %}

{% block body %}
    <h1>LevelManager index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
                <th>PhoneNumber</th>
                <th>ProfilePhoto</th>
                <th>Cni</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>IsActive</th>
                <th>CreatedAt</th>
                <th>CodeResp</th>
                <th>Function</th>
                <th>Department</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for level_manager in level_managers %}
            <tr>
                <td>{{ level_manager.id }}</td>
                <td>{{ level_manager.username }}</td>
                <td>{{ level_manager.password }}</td>
                <td>{{ level_manager.phoneNumber }}</td>
                <td>{{ level_manager.profilePhoto }}</td>
                <td>{{ level_manager.cni }}</td>
                <td>{{ level_manager.firstName }}</td>
                <td>{{ level_manager.lastName }}</td>
                <td>{{ level_manager.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ level_manager.createdAt ? level_manager.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ level_manager.codeResp }}</td>
                <td>{{ level_manager.function }}</td>
                <td>{{ level_manager.department }}</td>
                <td>
                    <a href="{{ path('app_level_manager_show', {'id': level_manager.id}) }}">show</a>
                    <a href="{{ path('app_level_manager_edit', {'id': level_manager.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_level_manager_new') }}">Create new</a>
{% endblock %}
