{% extends 'base.html.twig' %}

{% block title %}LevelManager{% endblock %}

{% block body %}
    <h1>LevelManager</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ level_manager.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ level_manager.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ level_manager.password }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ level_manager.phoneNumber }}</td>
            </tr>
            <tr>
                <th>ProfilePhoto</th>
                <td>{{ level_manager.profilePhoto }}</td>
            </tr>
            <tr>
                <th>Cni</th>
                <td>{{ level_manager.cni }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ level_manager.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ level_manager.lastName }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ level_manager.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ level_manager.createdAt ? level_manager.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CodeResp</th>
                <td>{{ level_manager.codeResp }}</td>
            </tr>
            <tr>
                <th>Function</th>
                <td>{{ level_manager.function }}</td>
            </tr>
            <tr>
                <th>Department</th>
                <td>{{ level_manager.department }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_level_manager_index') }}">back to list</a>

    <a href="{{ path('app_level_manager_edit', {'id': level_manager.id}) }}">edit</a>

    {{ include('level_manager/_delete_form.html.twig') }}
{% endblock %}
