{% extends 'base.html.twig' %}

{% block title %}Inscription Étudiant{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Inscription Étudiant</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
        {{ form_row(form.phoneNumber) }}
        {{ form_row(form.profilePhoto) }}
        {{ form_row(form.cni) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.sex) }}
        {{ form_row(form.dateOfBirth) }}
        {{ form_row(form.placeOfBirth) }}
        {{ form_row(form.matricule) }}
        <button type="submit" class="btn btn-primary">S'inscrire</button>
        {{ form_end(form) }}
    </div>
{% endblock %}